Repository gordon-cs/gordon-360-ui, pull requests merged in 2021-10, with the labels that each got.

#1358 Added: nickname (all), maiden name (all), graduation year (alumni), major (alumni), minor (alumni) in profile
  src/components/Profile/components/Identification/index.js
  src/components/Profile/components/PersonalInfoList/index.js
Labels: Profile Page

#1365 Refactor Clifton Data into Separate File
  src/services/cliftonStrengthsData.js
  src/services/user.js
Labels: Code Quality, Profile Page

#1364 Add Space After Comma in Address
  src/components/Profile/components/PersonalInfoList/index.js
Labels: Bug, Profile Page

#1353 Refactor Availability Message into GordonLimitedAvailability Component
  src/components/GordonLimitedAvailability/index.js
  src/components/Profile/components/MembershipsList/index.js
  src/components/Profile/index.js
  src/views/ApartmentApp/index.js
  src/views/CoCurricularTranscript/index.js
  src/views/Timesheets/index.js
Labels: Bug, Timesheets, Code Quality, ApartApps

#1367 Add User context to store info of currently logged in user
  src/app.js
  src/components/Header/components/NavButtonsRightCorner/index.js
  src/components/Header/index.js
  src/components/LoginDialogue/index.js
  src/components/Nav/components/NavAvatar/index.js
  src/components/Nav/components/NavLinks/index.js
  src/components/Nav/index.js
  src/contexts/UserContext.js
  src/hooks/useUpdateUser.js
  src/hooks/useUser.js
  src/services/auth.js
  src/views/Home/components/GuestWelcome/index.js
  src/views/Home/index.js
  src/views/IDUploader/index.js
  src/views/WellnessCheck/index.js
Labels: Code Quality

#1373 Fix News Search Uppercase Issue
  src/services/news.js
Labels: Bug, News
