Repository gordon-cs/gordon-360-ui, pull requests merged in 2023-02, with the labels that each got.

#1656 Clarify SSH Tunnel Backend
  docs/Developer's Guide.md
Labels: Documentation

#1659 [Rec-IM] Scheduling Part 1
  src/services/recim/series.ts
  src/views/RecIM/components/Forms/CreateSeriesForm/index.js
Labels: Rec-IM

#1661 [Rec-IM] Redirect to Team Page after Creation
  src/views/RecIM/components/Forms/TeamForm/index.js
  src/views/RecIM/views/Activity/index.js
Labels: Rec-IM

#1660 [Rec-IM] Logic cleanup for match edit as well as handling new API changes to be implemented
  src/services/recim/match.ts
  src/services/recim/team.ts
  src/views/RecIM/components/Forms/EditMatchStatsForm/index.js
  src/views/RecIM/components/Forms/TeamForm/index.js
  src/views/RecIM/views/Match/index.js
  src/views/RecIM/views/Team/index.js
Labels: Rec-IM

#1657 [Rec-IM] Don't show Inactive Team Participants for Non-Admins
  src/views/RecIM/components/List/index.js
  src/views/RecIM/views/Team/index.js
Labels: Rec-IM

#1663 Add Clarification for Enabling SSH on MacOS
  docs/Developer's Guide.md
Labels: Documentation

#1565 Update Workflows for Node v16
  .github/workflows/ci.yml
Labels: Dependencies

#1668 Allow `AcademicInfoView` AuthGroup to view advisor info of students.
  src/components/Profile/components/PersonalInfoList/index.jsx
  src/services/auth.ts
Labels: Good First Issue, Profile Page, Privacy

#1672 Wrap ShiftDisplay in LocalizationProvider
  src/views/Timesheets/index.jsx
Labels: Bug, Timesheets

#1678 Fix Case for Showing no Events Message
  src/components/EventList/index.jsx
Labels: Bug

#1677 Clifton Strengths to show on both Fac/Staff and Student Profiles
  src/services/user.ts
Labels: Bug, Good First Issue, Profile Page

#1676 [Rec-IM] Non specific work added to Match-Edit-V2
  src/views/RecIM/views/Activity/components/ScheduleList/index.js
  src/views/RecIM/views/Activity/index.js
  src/views/RecIM/views/Team/index.js
Labels: Rec-IM

#1679 [Rec-IM] Updated Match Edit
  src/views/RecIM/components/Forms/EditMatchStatsForm/index.js
  src/views/RecIM/components/Forms/MatchForm/index.js
  src/views/RecIM/components/Forms/TeamForm/index.js
  src/views/RecIM/components/Forms/components/InformationField/index.js
  src/views/RecIM/components/List/Listing/index.js
  src/views/RecIM/components/List/index.js
  src/views/RecIM/views/Match/index.js
  src/views/RecIM/views/Team/index.js
Labels: Rec-IM

#1675 [Rec-IM] Match Team edit + Series Auto-scheduling + newest API integration
  src/_vars.scss
  src/services/recim/match.ts
  src/services/recim/series.ts
  src/views/RecIM/components/Forms/CreateMatchForm/index.js
  src/views/RecIM/components/Forms/EditMatchStatsForm/index.js
  src/views/RecIM/components/Forms/MatchForm/index.js
  src/views/RecIM/components/Forms/TeamForm/index.js
  src/views/RecIM/components/Forms/components/InformationField/index.js
  src/views/RecIM/components/Header/index.js
  src/views/RecIM/components/List/Listing/Listing.module.scss
  src/views/RecIM/components/List/Listing/index.js
  src/views/RecIM/components/List/index.js
  src/views/RecIM/views/Activity/Activity.module.scss
  src/views/RecIM/views/Activity/components/ScheduleList/index.js
  src/views/RecIM/views/Activity/index.js
  src/views/RecIM/views/Home/index.js
  src/views/RecIM/views/Match/Match.module.scss
  src/views/RecIM/views/Match/index.js
  src/views/RecIM/views/Team/index.js
Labels: Rec-IM

#1681 [Rec-IM] Fix users unable to create team
  src/views/RecIM/views/Activity/index.js
Labels: Rec-IM

#1670 [Rec-IM] Front End Invitation System
  src/components/Profile/components/PersonalInfoList/index.js
  src/services/recim/team.ts
  src/views/RecIM/components/Forms/InviteParticipantForm/index.js
  src/views/RecIM/components/Forms/TeamForm/index.js
  src/views/RecIM/components/List/Listing/Listing.module.scss
  src/views/RecIM/components/List/Listing/index.js
  src/views/RecIM/components/List/index.js
  src/views/RecIM/views/Home/Home.module.scss
  src/views/RecIM/views/Home/index.js
Labels: 5 Points, Rec-IM

#1685 [Rec-IM] Cohesive Button Design
  src/views/RecIM/views/Activity/index.js
  src/views/RecIM/views/Home/Home.module.scss
  src/views/RecIM/views/Home/index.js
  src/views/RecIM/views/Team/Team.module.scss
  src/views/RecIM/views/Team/index.js
Labels: Rec-IM

#1689 [Rec-IM] Fix Vite profile issue regarding "." in the URL
  package-lock.json
  package.json
  src/views/RecIM/views/Activity/index.jsx
  vite.config.ts
Labels: Bug, Rec-IM

#1688 [Rec-IM] activity registration condition fix + team captain immutability
  src/views/RecIM/components/List/index.jsx
  src/views/RecIM/views/Activity/index.jsx
Labels: Rec-IM

#1691 [Rec-IM] Visual Bug fix
  src/views/RecIM/components/Forms/EditMatchStatsForm/index.jsx
  src/views/RecIM/components/Forms/MatchForm/index.jsx
  src/views/RecIM/components/List/index.jsx
  src/views/RecIM/views/Match/index.jsx
Labels: Rec-IM

#1687 Add state updates after Addmember function to 'clear' the form after close.
  src/views/InvolvementProfile/components/Membership/components/AdminCard/index.jsx
Labels: Bug, Good First Issue

#1695 HOTFIX: Involvement Membership Loading
  src/views/InvolvementProfile/components/Membership/index.jsx
Labels: Bug, Involvements, Broken Feature

#1696 PROD HOTFIX: Fix involvements Loading
  src/views/InvolvementProfile/components/Membership/index.jsx
Labels: Involvements, Broken Feature

#1697 HOTFIX: Add Involvement Join Buttons Back
  src/views/InvolvementProfile/components/Membership/index.jsx
Labels: Bug, Involvements, Broken Feature

#1698 PROD HOTFIX: Add Involvement Join Buttons Back
  src/views/InvolvementProfile/components/Membership/index.jsx
Labels: Bug, Involvements, Broken Feature

#1694 Fix Happy Birthday Message
  src/services/user.ts
Labels: Bug

#1693 Read Vite Port and Host From Env File
  vite.config.ts
Labels: Code Quality
