Repository gordon-cs/gordon-360-ui, pull requests merged in 2023-04, with the labels that each got.

#1761 Release: ApartApp Messaging
  src/services/housing.ts
  src/views/ApartmentApp/components/StudentApplication/components/Agreements/index.jsx
  src/views/ApartmentApp/components/StudentApplication/components/InstructionsCard/index.jsx
Labels: ApartApps

#1749 Replace unescape function call
  src/services/http.ts
Labels: Bug, Good First Issue

#1762 [Rec-IM] Show Series Schedule (iteration 1)
  .env.development
  src/views/RecIM/components/Forms/Form/components/InformationField/index.jsx
  src/views/RecIM/components/Helpers/index.js
  src/views/RecIM/views/Activity/Activity.module.scss
  src/views/RecIM/views/Activity/components/ScheduleList/index.jsx
Labels: Rec-IM

#1768 [Rec-IM] Fix form validation
  src/views/RecIM/components/Forms/ActivityForm/index.jsx
  src/views/RecIM/components/Forms/EditMatchStatsForm/index.jsx
  src/views/RecIM/components/Forms/Form/components/InformationField/index.jsx
  src/views/RecIM/components/Forms/Form/index.jsx
  src/views/RecIM/components/Forms/MatchForm/index.jsx
  src/views/RecIM/components/Forms/SeriesForm/index.jsx
  src/views/RecIM/components/Forms/SeriesScheduleForm/index.jsx
  src/views/RecIM/components/Forms/SurfaceForm/index.jsx
  src/views/RecIM/components/Forms/TeamForm/index.jsx
  src/views/RecIM/components/Forms/WaiverForm/index.jsx
Labels: Rec-IM

#1766 [RecIM] Refactor Forms base component
  src/views/RecIM/components/Forms/ActivityForm/index.jsx
  src/views/RecIM/components/Forms/EditMatchStatsForm/index.jsx
  src/views/RecIM/components/Forms/Form/components/ConfirmationRow/index.jsx
  src/views/RecIM/components/Forms/Form/components/InformationField/index.jsx
  src/views/RecIM/components/Forms/Form/index.jsx
  src/views/RecIM/components/Forms/MatchForm/index.jsx
  src/views/RecIM/components/Forms/SeriesForm/index.jsx
  src/views/RecIM/components/Forms/SeriesScheduleForm/index.jsx
  src/views/RecIM/components/Forms/SurfaceForm/index.jsx
  src/views/RecIM/components/Forms/TeamForm/index.jsx
  src/views/RecIM/components/Forms/WaiverForm/index.jsx
Labels: Rec-IM

#1759 Merge Master to Develop
  src/views/ApartmentApp/components/StudentApplication/index.jsx
Labels: ApartApps

#1770 Update `xlsx` dependency
  package-lock.json
  package.json
  src/components/SpreadsheetUploader/index.jsx
  src/views/Admin/components/CliftonStrengthsUpload/index.jsx
Labels: Dependencies, Code Quality

#1769 [Rec-IM] schedule surfaces
  src/services/recim/activity.ts
  src/services/recim/participant.ts
  src/services/recim/recim.ts
  src/services/recim/series.ts
  src/views/RecIM/components/Forms/SeriesScheduleForm/index.jsx
Labels: Rec-IM

#1776 [RecIM] Sports!
  src/services/recim/sport.ts
  src/views/RecIM/components/Forms/Form/components/InformationField/index.jsx
  src/views/RecIM/components/Forms/SportForm/index.jsx
  src/views/RecIM/components/Forms/SurfaceForm/index.jsx
  src/views/RecIM/components/List/Listing/Listing.module.scss
  src/views/RecIM/components/List/Listing/index.jsx
  src/views/RecIM/components/List/index.jsx
  src/views/RecIM/views/Activity/index.jsx
  src/views/RecIM/views/Admin/Admin.module.scss
  src/views/RecIM/views/Admin/index.jsx
Labels: 5 Points, Rec-IM

#1778 [RecIM] Allow Clicking Off Form to Cancel the Form and Close It
  src/views/RecIM/components/Forms/Form/index.jsx
  src/views/RecIM/views/Team/index.jsx
Labels: 1 Point, Rec-IM

#1777 [Rec-IM] match tabs
  src/views/RecIM/components/Forms/SeriesScheduleForm/index.jsx
  src/views/RecIM/components/Helpers/index.js
  src/views/RecIM/components/List/List.module.scss
  src/views/RecIM/components/List/index.jsx
  src/views/RecIM/views/Activity/components/ScheduleList/index.jsx
  src/views/RecIM/views/Activity/index.jsx
  src/views/RecIM/views/Match/Match.module.scss
Labels: Rec-IM

#1773 Update visuals for involvements 'change image' use case
  src/views/InvolvementProfile/InvolvementProfile.module.scss
  src/views/InvolvementProfile/index.jsx
Labels: Bug

#1781 [Rec-IM] finally fixed invite redirect when reject
  src/views/RecIM/components/List/Listing/Listing.module.scss
  src/views/RecIM/components/List/Listing/index.jsx
Labels: Bug, Rec-IM

#1782 [Rec-IM] Fix broken invididual sport invite
  src/views/RecIM/components/Forms/InviteParticipantForm/index.jsx
  src/views/RecIM/views/Activity/index.jsx
Labels: Rec-IM, Broken Feature

#1785 [Rec-IM] series definition
  src/views/RecIM/components/Forms/SeriesForm/index.jsx
  src/views/RecIM/views/Home/Home.module.scss
  src/views/RecIM/views/Home/index.jsx
Labels: Rec-IM
