Repository gordon-cs/gordon-360-ui, pull requests merged in 2023-01, with the labels that each got.

#1593 Release: Upgrade React Router, Update Enrollment Check-in, Update Contributors, Update Apartment Application, Remove ID Number leaks, Misc UI/UX improvements
  .env.development
  .gitignore
  package-lock.json
  package.json
  src/app.js
  src/components/AppRedirect/index.js
  src/components/GordonDialogBox/GordonDialogBox.module.scss
  src/components/Header/index.js
  src/components/NavButton/index.js
  src/components/Profile/components/MembershipsList/index.js
  src/components/SpreadsheetUploader/index.js
  src/routes.js
  src/services/admin.ts
  src/services/checkIn.ts
  src/services/membership.ts
  src/services/request.ts
  src/services/session.ts
  src/services/utils.ts
  src/views/About/contributors.json
  src/views/Admin/Admin.module.scss
  src/views/Admin/components/AdminList/components/AdminListItem/index.js
  src/views/Admin/components/AdminList/index.js
  src/views/Admin/index.js
  src/views/ApartmentApp/components/StudentApplication/components/Agreements/index.js
  src/views/EnrollmentCheckIn/components/ConfirmCheckIn/index.js
  src/views/EnrollmentCheckIn/index.js
  src/views/Events/index.js
  src/views/Home/index.js
  src/views/InvolvementProfile/components/Membership/components/AdminCard/components/RequestsReceived/index.js
  src/views/InvolvementProfile/components/Membership/components/AdminCard/index.js
  src/views/InvolvementProfile/components/Membership/components/MemberList/components/MemberListItem/index.js
  src/views/InvolvementProfile/components/Membership/components/NonMemberButtons/index.js
  src/views/InvolvementProfile/components/Membership/index.js
  src/views/InvolvementProfile/index.js
  src/views/InvolvementsAll/components/InvolvementsGrid/index.js
  src/views/InvolvementsAll/components/Requests/components/RequestSent/index.js
  src/views/InvolvementsAll/components/Requests/components/RequestsReceived/index.js
  src/views/InvolvementsAll/index.js
  src/views/PeopleSearch/components/SearchFieldList/index.tsx
  src/views/PublicProfile/index.js
Labels: Release

#1598 Release: Update registration hold message
  src/views/EnrollmentCheckIn/components/EnrollmentCheckInWelcome/index.js
Labels: Release

#1599 Use `PersonType` to determine profile shape
  src/services/user.ts
Labels: Bug

#1600 Hotfix: Fix Profile parsing for incoming students.
  src/services/user.ts
Labels: Release

#1602 Pass `authentication` to class components
  src/views/CoCurricularTranscript/index.js
  src/views/IDUploader/index.js
Labels: Bug

#1601 Fix Grad Year Check for Co-Curricular Transcript
  src/views/CoCurricularTranscript/index.js
Labels: Bug, Broken Feature

#1584 student news upload image
  src/services/news.ts
  src/views/News/components/NewsItem/index.js
  src/views/News/index.js
Labels: Bug, News

#1608 HOTFIX: Fix people search navigation
  src/views/PeopleSearch/components/PeopleSearchResult/index.tsx
Labels: Bug, Search, Broken Feature

#1609 HOTFIX RELEASE: Fix People Search, Enrollment Checkin Cache, CCT
  src/components/AppRedirect/index.js
  src/views/CoCurricularTranscript/index.js
  src/views/PeopleSearch/components/PeopleSearchResult/index.tsx
Labels: Bug, Broken Feature

#1617 SSH Tunneling Readme
  README.md
  documentation/Local Development.md
  documentation/PWA (Javascript) Documentation (1).docx
Labels: Documentation

#1613 Clifton Import Cleanup & File Restructure
  src/components/SpreadsheetUploader/SpreadsheetUploader.module.scss
  src/views/Admin/components/CliftonStrengthsUpload/cliftonStrengthsUploadTemplate.csv
  src/views/Admin/components/CliftonStrengthsUpload/index.js
Labels: Enhancement

#1620 Refactor VictoryPromise to function component
  package-lock.json
  src/components/Profile/components/VictoryPromise/VictoryPromise.module.scss
  src/components/Profile/components/VictoryPromise/components/GraphDisplay.tsx
  src/components/Profile/components/VictoryPromise/components/IconDisplay.tsx
  src/components/Profile/components/VictoryPromise/components/VictoryPromiseIcon.module.scss
  src/components/Profile/components/VictoryPromise/components/VictoryPromiseIcons.tsx
  src/components/Profile/components/VictoryPromise/index.tsx
  src/components/Profile/components/VictoryPromiseDisplay/VictoryPromiseDisplay.module.scss
  src/components/Profile/components/VictoryPromiseDisplay/images/Off-CC.svg
  src/components/Profile/components/VictoryPromiseDisplay/images/Off-IM.svg
  src/components/Profile/components/VictoryPromiseDisplay/images/Off-LS.svg
  src/components/Profile/components/VictoryPromiseDisplay/images/Off-LW.svg
  src/components/Profile/components/VictoryPromiseDisplay/images/On-CC.svg
  src/components/Profile/components/VictoryPromiseDisplay/images/On-IM.svg
  src/components/Profile/components/VictoryPromiseDisplay/images/On-LS.svg
  src/components/Profile/components/VictoryPromiseDisplay/images/On-LW.svg
  src/components/Profile/components/VictoryPromiseDisplay/index.js
  src/components/Profile/components/index.js
  src/components/Profile/index.js
  src/services/victoryPromise.ts
  src/theme.ts
Labels: Code Quality

#1626 [Rec-IM] Waiver -> Edit Team (testing purposes)
  src/components/Header/components/QuickSearch/QuickSearch.module.scss
  src/components/Header/components/QuickSearch/index.js
  src/views/RecIM/components/Forms/InviteParticipantForm/index.js
  src/views/RecIM/components/Forms/WaiverForm/index.js
  src/views/RecIM/components/List/Listing/Listing.module.scss
  src/views/RecIM/components/List/Listing/index.js
  src/views/RecIM/components/List/index.js
  src/views/RecIM/views/Home/index.js
  src/views/RecIM/views/Team/Team.module.scss
  src/views/RecIM/views/Team/index.js
Labels: Rec-IM

#1628 Refactor EventItem to function component
  src/components/EventList/EventList.module.scss
  src/components/EventList/components/CollapsableEventItem/CollapsableEventItem.module.scss
  src/components/EventList/components/CollapsableEventItem/index.js
  src/components/EventList/components/EventItem/EventItem.module.scss
  src/components/EventList/components/EventItem/index.js
  src/components/EventList/index.js
Labels: Code Quality

#1618 [Rec-IM] Edit Activity functionality added to CreateActivityForm
  src/services/http.ts
  src/services/recim/activity.ts
  src/views/RecIM/components/Forms/ActivityForm/index.js
  src/views/RecIM/components/Forms/CreateTeamForm/index.js
  src/views/RecIM/views/Activity/index.js
  src/views/RecIM/views/Home/index.js
  src/views/RecIM/views/Team/index.js
Labels: Rec-IM

#1611 [Rec-IM] Series Creation and Propagation
  src/services/http.ts
  src/services/recim/activity.ts
  src/services/recim/series.ts
  src/views/RecIM/components/Forms/ActivityForm/index.js
  src/views/RecIM/components/Forms/CreateSeriesForm/index.js
  src/views/RecIM/components/Forms/CreateTeamForm/index.js
  src/views/RecIM/components/List/Listing/index.js
  src/views/RecIM/components/List/index.js
  src/views/RecIM/views/Activity/index.js
  src/views/RecIM/views/Home/index.js
  src/views/RecIM/views/Team/index.js
Labels: Rec-IM

#1624 [Rec-IM] Waiver Form
  src/views/RecIM/components/Forms/TeamForm/index.js
  src/views/RecIM/components/Forms/WaiverForm/index.js
  src/views/RecIM/views/Activity/index.js
  src/views/RecIM/views/Home/index.js
  src/views/RecIM/views/Team/index.js
Labels: Rec-IM

#1631 [Rec-IM] Edit Team functionality integration + Admin/Team-Captain permissions
  src/services/recim/activity.ts
  src/views/RecIM/components/Forms/TeamForm/index.js
  src/views/RecIM/components/List/Listing/index.js
  src/views/RecIM/views/Activity/Activity.module.scss
  src/views/RecIM/views/Activity/index.js
  src/views/RecIM/views/Home/Home.module.scss
  src/views/RecIM/views/Home/index.js
  src/views/RecIM/views/Team/index.js
Labels: Rec-IM

#1635 [Rec-IM] UI Integration of API update
  src/services/recim/team.ts
  src/views/RecIM/components/List/Listing/index.js
  src/views/RecIM/views/Activity/index.js
  src/views/RecIM/views/Team/index.js
Labels: Rec-IM

#1630 [Rec-IM] Match Editing and Creation
  src/services/recim/team.ts
  src/views/RecIM/components/Forms/CreateMatchForm/index.js
  src/views/RecIM/components/Forms/components/InformationField/index.js
  src/views/RecIM/components/List/Listing/index.js
  src/views/RecIM/components/List/index.js
  src/views/RecIM/views/Activity/index.js
  src/views/RecIM/views/Match/index.js
Labels: 8 Points, Rec-IM

#1629 Refactor last minor class components
  src/services/session.ts
  src/views/Home/components/CLWCreditsDaysLeft/CLWCreditsDaysLeft.module.scss
  src/views/Home/components/CLWCreditsDaysLeft/index.js
  src/views/Home/components/DaysLeft/index.js
  src/views/Home/components/DiningBalance/DiningBalance.module.scss
  src/views/Home/components/DiningBalance/index.js
  src/views/Home/components/Doughnut.module.scss
  src/views/Home/components/NewsCard/components/CategorizedNews/index.js.txt
  src/views/Home/components/NewsCard/components/NewsItem/index.js.txt
  src/views/Home/components/NewsCard/index.js
  src/views/ProfileNotFound/index.js
Labels: Code Quality

#1643 Fix clifton strengths external links
  src/components/Profile/components/PersonalInfoList/index.jsx
  src/services/cliftonStrengths.ts
Labels: Bug, Profile Page

#1639 [Rec-IM] Match functionality/UX
  src/views/RecIM/components/List/Listing/index.js
  src/views/RecIM/components/List/index.js
  src/views/RecIM/views/Activity/Activity.module.scss
  src/views/RecIM/views/Home/Home.module.scss
  src/views/RecIM/views/Match/Match.module.scss
  src/views/RecIM/views/Match/index.js
Labels: Rec-IM

#1648 [Rec-IM] API Team Update
  src/services/recim/match.ts
  src/services/recim/team.ts
  src/views/RecIM/views/Match/index.js
Labels: Rec-IM

#1650 [Rec-IM] User-Test#1 - Fix null isAdmin on reload, fix logic error
  src/views/RecIM/views/Activity/index.js
Labels: Bug, Rec-IM

#1652 [Rec-IM] Simplify logic for Admin v1
  src/views/RecIM/views/Admin/Admin.module.scss
  src/views/RecIM/views/Admin/index.js
  src/views/RecIM/views/Home/index.js
Labels: Code Quality, Rec-IM
