Repository gordon-cs/gordon-360-ui, pull requests merged in 2023-03, with the labels that each got.

#1712 Don't redirect on auth errors
  src/services/checkIn.ts
Labels: Bug

#1710 Create new 409 Error 'Conflict' to give a 'Member Already Added' error message for involvements
  src/services/error.ts
  src/views/InvolvementProfile/components/Membership/components/AdminCard/index.jsx
Labels: Bug

#1723 Drop Mail Location from Involvement Profile page
  src/views/InvolvementProfile/components/Membership/components/MemberList/components/MemberListItem/index.jsx
  src/views/InvolvementProfile/components/Membership/components/MemberList/index.jsx
Labels: Bug, Involvements

#1720 [Rec-IM] API/Develop Update
  src/services/recim/activity.ts
  src/services/recim/match.ts
  src/services/recim/series.ts
  src/services/recim/team.ts
  src/views/RecIM/components/Forms/ActivityForm/index.jsx
  src/views/RecIM/components/Forms/EditMatchStatsForm/index.jsx
  src/views/RecIM/components/Forms/MatchForm/index.jsx
  src/views/RecIM/components/List/Listing/index.jsx
  src/views/RecIM/components/List/index.jsx
  src/views/RecIM/views/Activity/index.jsx
  src/views/RecIM/views/Home/index.jsx
  src/views/RecIM/views/Match/index.jsx
  src/views/RecIM/views/Team/index.jsx
Labels: Rec-IM

#1729 [Rec-IM] Bug Fixes / Merge Conflicts / API Related Changes
  src/services/recim/match.ts
  src/services/recim/participant.ts
  src/services/recim/team.ts
  src/views/RecIM/components/Forms/MatchForm/index.jsx
Labels: Rec-IM

#1727 [Rec-IM] Team participant upgrades and fixes
  src/services/recim/activity.ts
  src/services/recim/match.ts
  src/services/recim/participant.ts
  src/services/recim/series.ts
  src/services/recim/team.ts
  src/views/RecIM/components/Forms/MatchForm/index.jsx
  src/views/RecIM/components/List/Listing/index.jsx
  src/views/RecIM/components/List/index.jsx
  src/views/RecIM/views/Activity/components/ScheduleList/index.jsx
  src/views/RecIM/views/Team/index.jsx
Labels: Rec-IM

#1728 [Rec-IM] Post/Update/Remove Image in RecIM Activity and Team
  src/views/RecIM/components/Forms/ActivityForm/index.jsx
  src/views/RecIM/components/Forms/TeamForm/index.jsx
  src/views/RecIM/components/Forms/components/ConfirmationRow/index.jsx
  src/views/RecIM/components/Helpers/index.js
  src/views/RecIM/views/Activity/index.jsx
  src/views/RecIM/views/Match/index.jsx
  src/views/RecIM/views/Team/index.jsx
Labels: Enhancement, Rec-IM

#1733 [Rec-IM] Show/Sort Series Teams by Series Records + Styling Update
  .env.production
  src/_vars.scss
  src/views/RecIM/components/Forms/MatchForm/index.jsx
  src/views/RecIM/components/List/List.module.scss
  src/views/RecIM/components/List/Listing/Listing.module.scss
  src/views/RecIM/components/List/Listing/index.jsx
  src/views/RecIM/components/List/index.jsx
  src/views/RecIM/components/index.jsx
  src/views/RecIM/views/Activity/Activity.module.scss
  src/views/RecIM/views/Activity/components/ScheduleList/index.jsx
  src/views/RecIM/views/Activity/index.jsx
  src/views/RecIM/views/Home/Home.module.scss
  src/views/RecIM/views/Home/index.jsx
  src/views/RecIM/views/Team/Team.module.scss
  src/views/RecIM/views/Team/index.jsx
Labels: Rec-IM

#1740 [Rec-IM] Image UI update: separating from Form components
  src/views/RecIM/components/Forms/ActivityForm/index.jsx
  src/views/RecIM/components/Forms/ImageOptions/index.jsx
  src/views/RecIM/components/Forms/TeamForm/index.jsx
  src/views/RecIM/components/Helpers/index.js
  src/views/RecIM/views/Activity/Activity.module.scss
  src/views/RecIM/views/Activity/index.jsx
  src/views/RecIM/views/Team/Team.module.scss
  src/views/RecIM/views/Team/index.jsx
Labels: Feature, Rec-IM

#1734 Fac/Staff Personal Info Toggle Visual Fix
  src/components/Profile/components/PersonalInfoList/index.jsx
Labels: Bug, Good First Issue

#1736 Fix Involvement Member Links on small screens
  src/views/InvolvementProfile/components/Membership/components/MemberList/components/MemberListItem/index.jsx
Labels: Bug, Good First Issue, Involvements

#1741 [Rec-IM] Simple image visual update
  src/views/RecIM/components/Forms/ImageOptions/index.jsx
  src/views/RecIM/views/Activity/Activity.module.scss
  src/views/RecIM/views/Activity/index.jsx
  src/views/RecIM/views/Match/Match.module.scss
  src/views/RecIM/views/Match/index.jsx
  src/views/RecIM/views/Team/Team.module.scss
  src/views/RecIM/views/Team/index.jsx
Labels: Rec-IM

#1752 [Rec-IM] Home Page hang
  src/views/RecIM/views/Home/index.jsx
Labels: Rec-IM

#1743 [Rec-IM] Form cleanup
  src/views/RecIM/components/Forms/ActivityForm/index.jsx
  src/views/RecIM/components/Forms/EditMatchStatsForm/EditMatchStatsForm.module.scss
  src/views/RecIM/components/Forms/EditMatchStatsForm/index.jsx
  src/views/RecIM/components/Forms/Form/components/ConfirmationHeader/ConfirmationHeader.module.scss
  src/views/RecIM/components/Forms/Form/components/ConfirmationHeader/index.jsx
  src/views/RecIM/components/Forms/Form/components/ConfirmationRow/ConfirmationRow.module.scss
  src/views/RecIM/components/Forms/Form/components/ConfirmationRow/index.jsx
  src/views/RecIM/components/Forms/Form/components/ContentCard/ContentCard.module.scss
  src/views/RecIM/components/Forms/Form/components/ContentCard/index.jsx
  src/views/RecIM/components/Forms/Form/components/InformationField/InformationField.module.scss
  src/views/RecIM/components/Forms/Form/components/InformationField/index.jsx
  src/views/RecIM/components/Forms/Form/index.jsx
  src/views/RecIM/components/Forms/MatchForm/index.jsx
  src/views/RecIM/components/Forms/SeriesForm/index.jsx
  src/views/RecIM/components/Forms/SeriesScheduleForm/index.jsx
  src/views/RecIM/components/Forms/TeamForm/index.jsx
  src/views/RecIM/components/Forms/WaiverForm/index.jsx
  src/views/RecIM/views/Activity/components/ScheduleList/index.jsx
  src/views/RecIM/views/Match/index.jsx
Labels: Rec-IM

#1754 Fix ApartApp Save Process
  src/services/housing.ts
  src/services/user.ts
  src/views/ApartmentApp/components/StudentApplication/index.jsx
  src/views/ApartmentApp/index.jsx
Labels: ApartApps, Broken Feature

#1755 Release fix apartapp save
  src/services/housing.ts
  src/services/user.ts
  src/views/ApartmentApp/components/StudentApplication/index.jsx
  src/views/ApartmentApp/index.jsx
Labels: Bug, ApartApps, Broken Feature
